POSTGRES_DB=ERPDB
POSTGRES_USER=user
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5433
BACKEND_PORT=8011
FRONTEND_PORT=5310
VITE_API_BASE_URL=
JWT_SECRET_KEY=SUPER_SECRET_KEY_CHANGE_THIS
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480
